* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 89px;
    display: flex;
    /* box-shadow: ; */
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.nav-img{
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    display: flex;
    width: 244px;
    height: 70px;

}
.nav-list {
   display: inline-block;
}

.nav-list, .subnav{
    list-style: none;
}

.nav-list > li{
    display: inline-block;
}

.nav-list li{
    position: relative;
}

.nav-list > li > a{
    color:black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    font-family: "Archivo", Sans-serif;
}

.nav-list li a{
    text-decoration: none;
    line-height: 40px;
    padding: 0 15px 0 15px;
    display: block;
}

.nav-list li:hover .subnav{
    display: block;
}

.nav-list > li:hover > a{
    color: rgb(51, 51, 97);
    background-color: whitesmoke
}

.nav-list .subnav{
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(39, 31, 31);
}

.nav-list .subnav a{
    color: black;
}

.nav-list .subnav li:hover{
    color: red; 
    
}

.subnav > li > a{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}


.content-img{
    padding: 0  0 60px 0;
}
.introduce-text{
    text-align: center;
}

.introduce-text .introduce-heading{
    padding-bottom: 15px;
}
.introduce-section{
    display: flex;
    flex-direction: column;
        
}
.introduce-item{
    display: flex;
    justify-content: center;
    margin: 25px 25px 25px 25px;
}
.introduce-items{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 25px;
    
}
.introduce-items-image{
    width: 305px;
    height: 228px;
    font-size: 15px;
    display: block;
    text-align: justify;
}

.introduce-items-text{
    text-align: justify;
    width: 305px;
    height: 112px;
    margin: 20px 0 20px 0;
}

.about-us {
    width: 100%;
    height: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us__slogan {
    width: 382px;
    height: 216px;
}

.about-us__slogan h1{
    text-align: center;
    font-size: 30px;
    color: #0b249e;
    padding: 20px 0;
 }
 
.about-us__slogan h2{
    text-align: center;
    font-size: 20px;
    color: #000000;
    line-height: 35px;
}

.about-us__description {
    text-align: center;
    width: 715px;
    height: 216px;
    border-left: 3px solid rgb(248, 127, 14);
}

.about-us__description h3 {
    padding: 20px 0;
    font-size: 21px;
    color: #7e7d7d;
    line-height: 35px;
}

.about-us__button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us__description button {
    background-color: #0c9841;
    color: #ffffff;
    padding: 14px 20px;
    border: none;
    border-radius:8px;
    font-size: 15px;
    font-weight: 600;
}

.about-us__description button:hover {
    transition: all 0.3s ease 0.3s;
    background-color: #da6a07;
    padding: 18px 24px;
    font-size: 16px;
}

/* Chance */
.chance {
    width: 100%;
    height: 720px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #1936B4 0%, #129EBA 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chance__video {
    width: 40%;
    height: 532px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.chance__video video{
    padding: 10px;
    max-width: 700px;
}
.chance__text {
    width: 40%;
    height: 532px;
    color: white;
}
.chance__text h1 {
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 25px;
}
.chance__text > div {
    margin: 30px 0;
}
.chance__text-box {
    width:100%;
    height: 25%;
    display: flex;

}
.chance__text-head-icon {
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.chance__text-content h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 30px 0;
}

.chance__text-content p {
    line-height:25px;
}

