* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.nav-img{
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    display: flex;
    width: 244px;
    height: 70px;

}
.nav-list {
   display: inline-block;
}

.nav-list, .subnav{
    list-style: none;
}

.nav-list > li{
    display: inline-block;
}

.nav-list li{
    position: relative;
}

.nav-list > li > a{
    color:black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    font-family: "Archivo", Sans-serif;
}

.nav-list li a{
    text-decoration: none;
    line-height: 40px;
    padding: 0 15px 0 15px;
    display: block;
}

.nav-list li:hover .subnav{
    display: block;
}

.nav-list > li:hover > a{
    color: rgb(51, 51, 97);
    background-color: whitesmoke
}

.nav-list .subnav{
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(39, 31, 31);
}

.nav-list .subnav a{
    color: black;
}

.nav-list .subnav li:hover{
    color: red; 
    
}

.subnav > li > a{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}


.content-img{
    padding: 0  0 60px 0;
}
.introduce-text{
    text-align: center;
}

.introduce-text .introduce-heading{
    padding-bottom: 15px;
}
.introduce-section{
    display: flex;
    flex-direction: column;
        
}
.introduce-item{
    display: flex;
    justify-content: center;
    margin: 25px 25px 25px 25px;
}
.introduce-items{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: solid rgb(161, 141, 141) 0.3px;
    padding: 15px;
    margin: 20px;
    
}
.introduce-items-image{
    width: 305px;
    height: 228px;
    font-size: 15px;
    display: block;
    text-align: justify;
}

.introduce-items-text{
    text-align: justify;
    width: 305px;
    height: 112px;
    margin: 20px 0 20px 0;
}

.register-section{
    background-color: transparent;
    background-image: linear-gradient(180deg, #000D75 0%, #65379A 100%);
    position: relative;
    /* top: 0px;
    bottom: 0px;
    right: 351px;
    left: -351px; */
    width: 100%;
    height: 943px;  
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    
}
.register-section__top{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.register-items {
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.register-section__top {
    box-sizing: border-box;
}
.register-section__top-img {
    padding: 0 100px;
}
.register-img{
    width: 554px;
    height: 616px;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
}

.register-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 100px;
}

.register-heading{
    width: 500px;
    height: 38px;
    font-size: 27px;
    font-weight: 700;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -20px;
}

.register-sub-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    height: 63px;
    width: 450px;
    color: yellow;
    position: relative;
    left: 7px;
    margin: 20px 0 20px 0;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.register-sub-form{
    display: flex;
    flex-direction: column;
  
}

.register-text{
    width: 460px;
    height: 41px;
    margin-bottom: 24px;
    outline: none;
}

.register-text1{
    width: 460px;
    height: 140px;
    outline: none;
}

.register-button{
    width: 460px;
    height: 43px;
    margin-top: 50px;
    background-color: #edb017;
    color: #0a0a0a;
    border-radius: 5px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.register-button:hover{
    background-color: #008FCA;
    color: whitesmoke;
}

.register-footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-number{
    padding: 0 70px ;
    padding-left: white 2px;
}

.about-us {
    width: 100%;
    height: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us__slogan {
    width: 382px;
    height: 216px;
}

.about-us__slogan h1{
    text-align: center;
    font-size: 30px;
    color: #0b249e;
    padding: 20px 0;
 }
 
.about-us__slogan h2{
    text-align: center;
    font-size: 20px;
    color: #000000;
    line-height: 35px;
}

.about-us__description {
    text-align: center;
    width: 715px;
    height: 216px;
    border-left: 3px solid rgb(248, 127, 14);
}

.about-us__description h3 {
    padding: 20px 0;
    font-size: 21px;
    color: #7e7d7d;
    line-height: 35px;
}

.register-footer-items{
    color: #FFC307;
    font-family: "Lato", Sans-serif;
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 20px;
}

.register-footer-subtext{
    color: #FFC307;
    top: -5px;
    left: -2px;
    vertical-align: baseline;
    font-size: 22px;
}

.register-footer-text{
    color: #ffffff;
    font-family: "Arial", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.vertical-bar{
    width: 4px;
    height: 40px;
    background-color: #ffffff;
}

.about-us__button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us__description button {
    background-color: #0c9841;
    color: #ffffff;
    padding: 14px 20px;
    border: none;
    border-radius:8px;
    font-size: 15px;
    font-weight: 600;
}

.about-us__description button:hover {
    transition: all 0.3s ease 0.3s;
    background-color: #da6a07;
    padding: 18px 24px;
    font-size: 16px;
}

/* Chance */
.chance {
    width: 100%;
    height: 720px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #1936B4 0%, #129EBA 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chance__video {
    width: 40%;
    height: 532px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.chance__video video{
    padding: 10px;
    max-width: 700px;
}
.chance__text {
    width: 40%;
    height: 532px;
    color: white;
}
.chance__text h1 {
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 25px;
}
.chance__text > div {
    margin: 30px 0;
}
.chance__text-box {
    width:100%;
    height: 25%;
    display: flex;

}
.chance__text-head-icon {
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.chance__text-content h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 30px 0;
}

.chance__text-content p {
    line-height:25px;
}

