* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 89px;
    display: flex;
    box-shadow: ;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.nav-img{
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    display: flex;
    width: 244px;
    height: 70px;

}
.nav-list {
   display: inline-block;
}

.nav-list, .subnav{
    list-style: none;
}

.nav-list > li{
    display: inline-block;
}

.nav-list li{
    position: relative;
}

.nav-list > li > a{
    color:black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    font-family: "Archivo", Sans-serif;
}

.nav-list li a{
    text-decoration: none;
    line-height: 40px;
    padding: 0 15px 0 15px;
    display: block;
}

.nav-list li:hover .subnav{
    display: block;
}

.nav-list > li:hover > a{
    color: rgb(51, 51, 97);
    background-color: whitesmoke
}

.nav-list .subnav{
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(39, 31, 31);
}

.nav-list .subnav a{
    color: black;
}

.nav-list .subnav li:hover{
    color: red; 
    
}

.subnav > li > a{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}


.content-img{
    padding: 0  0 60px 0;
}
.introduce-text{
    text-align: center;
}

.introduce-text .introduce-heading{
    padding-bottom: 15px;
}

.introduce-items{
    display: flex;
    justify-content: space-around;
    
}
.introduce-items-image{
    width: 305px;
    height: 228px;
    font-size: 15px;
    display: block;
    text-align: justify;
}

.introduce-items-text{
    text-align: justify;
    width: 305px;
    height: 112px;
    margin: 20px 0 20px 0;
}





